table {
    margin: 1em;
    td input {
        cursor: pointer;
    }
}

details summary {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        background-color: lightblue;
    }
}

.slider {
    border: 1px solid darkslategrey;
    padding: 0 1em;
    label {
        vertical-align: super;
        color: darkslategrey;
        font-style: italic;
    }
}

svg {
    width: 24px;
    height: 24px;
    color: lightblue;
}

#postMetricsEndpoint {
    width: 500px;
}

// prettier than a checkbox

/* The switch - the box around the slider */
.switch {
    margin-left: 1em;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 1px;
        bottom: 1px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
    
    input:checked + .slider {
        background-color: #2196f3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 17px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}

#timeouts {
    margin-left: 1em;
}