table {
    margin: 1em;
    td input {
        cursor: pointer;
    }
}

details summary {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        background-color: lightblue;
    }
}

.slider {
    border: 1px solid darkslategrey;
    padding: 0 1em;
    label {
        vertical-align: super;
        color:darkslategrey;
        font-style: italic;
    }
}

svg {
    width:24px;
    height: 24px;
    color: lightblue;
}