.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 1em;

}

.card {
    display: inline-block;
    border-left: 1em solid black;
    border-right: 1px solid black;
    margin-right: 3em;
    margin-bottom: 1em;
    border-top-left-radius: .6em;
    border-bottom-left-radius: .6em;
    box-shadow: 10px 5px 5px grey;
    vertical-align: top; /*just in case different size screenshots are taken */
}

.card .screenshot {
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

.card .screenshot img {
    width: 100%;
    height: calc(100% - 25px);
}

.card .screenshot .overlay {
    position: absolute;
    background: red;
    opacity: .3;
    display: none; /* initially hidden */
}

.card .user-events {
    /* border: 1px solid black; */
    background: rgb(245, 242, 242);
    height: 15%;
    border-top: 1px solid black;
    padding: 1em;
}
