// needs to be 22px
#infobar {
  background: var(--hover-color);
  color: white;
  //height: 12px;
  //padding: 5px;
  display: flex;
  align-items: center;

  .right {
    display: flex;
    margin-left: auto; // right align the crome version stuff
    align-items: center;
  }

  .text {
    margin-left: 5px;
    margin-right: 5px;
  }

  img {
    height: 22px;
  }

  svg {
    height: 18px;
    animation: opacity2 3s infinite;
    margin-left: 0.6em;
  }
}
