#infobar {
  background: var(--hover-color);
  color: white;
  height: 12px;
  padding: 5px;
  line-height: 1em;
  display: flex;

  svg {
    animation: opacity2 3s infinite;
    margin-left: 0.6em;
  }
}
