$gray3: #cccccc; // rgb(204 204 204)
$gray4: #999999; // rgb(153 153 153)
$gray5: #666666; // rgb(102 102 102)
$grey6: #333333;

$card-background: linear-gradient(
  to right,
  rgba(116, 116, 191, 0.3),
  rgba(52, 138, 199, 0.3)
);
