/* The switch - the box around the slider */
.switch {
  margin-left: 1em;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  /* The slider */
  /* Rounded sliders */
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
}
.switch input:checked + .slider {
  background-color: #2196f3;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.switch input:checked + .slider:before {
  transform: translateX(13px);
}
.switch .slider.round {
  border-radius: 17px;
}
.switch .slider.round:before {
  border-radius: 50%;
}

.modal#promptModal, .modal#confirmModal, .modal#promptModal, .modal#alertModal {
  color: black;
  height: 80%;
  display: flex;
  font-size: 14px;
}
.modal#promptModal input, .modal#confirmModal input, .modal#promptModal input, .modal#alertModal input {
  width: 100%;
}
.modal#promptModal .content-wrapper, .modal#confirmModal .content-wrapper, .modal#promptModal .content-wrapper, .modal#alertModal .content-wrapper {
  height: 100%;
  overflow: auto;
}
.modal#promptModal #title, .modal#confirmModal #title, .modal#promptModal #title, .modal#alertModal #title {
  font-size: 15px;
  margin-bottom: 12px;
}
.modal#promptModal #message, .modal#confirmModal #message, .modal#promptModal #message, .modal#alertModal #message {
  margin-bottom: 0.6em;
}
.modal#promptModal #buttons, .modal#confirmModal #buttons, .modal#promptModal #buttons, .modal#alertModal #buttons {
  display: flex;
  justify-content: end;
  margin-top: 2em;
}
.modal#promptModal a.button, .modal#confirmModal a.button, .modal#promptModal a.button, .modal#alertModal a.button {
  margin-left: 1em;
  background-color: #1a73e8;
  border: 1px solid white;
  outline: 2px solid #1a73e8;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
.modal#promptModal a.button:hover, .modal#confirmModal a.button:hover, .modal#promptModal a.button:hover, .modal#alertModal a.button:hover {
  opacity: 0.5;
}
.modal#promptModal a.button.cancel, .modal#confirmModal a.button.cancel, .modal#promptModal a.button.cancel, .modal#alertModal a.button.cancel {
  background-color: white;
  color: #1a73e8;
}

.blocker {
  background: rgba(128, 128, 128, 0.75);
}

#_thumbGutter {
  max-width: 100%;
  display: relative;
  overflow: visible;
}
#_thumbGutter .card {
  width: 100px;
  padding: 5px;
  min-width: 100px;
  position: absolute;
  top: 0px;
  transform: translateY(-100%);
}
#_thumbGutter .card img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

#_actionGutter {
  color: grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid white;
  display: flex;
  flex: row;
  overflow: auto;
  max-width: 100%;
}
#_actionGutter button:hover {
  color: white;
}
#_actionGutter button.inserted {
  background: linear-gradient(to right, rgba(116, 116, 191, 0.3), rgba(52, 138, 199, 0.3));
  border-radius: unset;
}
#_actionGutter button.current {
  color: white;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
}
#_actionGutter button.current.fail {
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  background: rgba(255, 0, 0, 0.2);
}
#_actionGutter button.fail {
  border: none;
  background: rgba(255, 0, 0, 0.2);
}

#infobar {
  background: var(--hover-color);
  color: white;
  display: flex;
  align-items: center;
}
#infobar .right {
  display: flex;
  margin-left: auto;
  align-items: center;
}
#infobar .text {
  margin-left: 5px;
  margin-right: 5px;
}
#infobar img {
  height: 22px;
}
#infobar svg {
  -webkit-animation: opacity2 3s infinite;
          animation: opacity2 3s infinite;
  margin-left: 0.6em;
}

#editDifferencesButton {
  color: orange;
}

*::-webkit-scrollbar {
  width: 13px; /* width of the entire scrollbar */
  height: 13px;
  background: #666666;
}
*::-webkit-scrollbar-track,
* ::-webkit-scrollbar-corner {
  background: #666666; /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: #999999; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #666666; /* creates "padding" around scroll thumb */
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
}

.userActionInput, #editActionName, #actionMatchTimeout {
  background-color: inherit;
  color: inherit;
}

body.vertical {
  font-size: 12px;
}
body.vertical #topbar {
  flex-wrap: wrap;
  font-size: 12px;
}
body.vertical #topbar #navigation {
  width: 100%;
  order: 3;
}
body.vertical #topbar #navigation svg {
  height: 15px;
  width: 15px;
}
body.vertical #topbar #menus {
  order: 1;
  width: 50%;
}
body.vertical #topbar #right {
  width: 50%;
  order: 2;
}
body.vertical #topbar #right .label {
  width: 30px;
  overflow: hidden;
}
body.vertical #workspace {
  height: calc(100% - 133px);
  width: 100%;
}
body.vertical #workspace .verticalToolBar svg {
  height: 15px;
  width: 15px;
}
body.vertical #workspace .verticalToolBar svg.emblem {
  height: 11px;
  width: 11px;
  bottom: 2px;
  right: 2px;
}
body.vertical #workspace #step {
  height: 100%;
  width: 100%;
}
body.vertical #workspace #step #content {
  height: 100%;
  width: 100%;
  flex-direction: column;
}
body.vertical #workspace #step #content .card {
  width: auto;
  height: calc(50% - 12px);
  margin-bottom: 10px;
}
body.vertical #workspace #step #content .card .title {
  flex-grow: 1;
}
body.vertical #workspace #step #content .card .title .text {
  padding: 6px;
}
body.vertical #workspace #step #content .card .screenshot {
  height: calc(100% - 60px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body.vertical #workspace #step #content .card .screenshot img {
  height: 100%;
  width: auto;
}
body.vertical #workspace #step #content .card.action .action {
  font-size: 12px;
}
body.vertical #workspace #step #content .card.empty {
  width: unset;
  height: 100%;
}
body.vertical #workspace #step #content .card .footer {
  flex-grow: 0.8;
}
body.vertical #workspace #footer details {
  display: none;
}

#actionMatchTimeout {
  border-radius: 1em;
  width: 2em;
  border: 1px solid;
  text-align: center;
  margin-left: 0.4em;
  margin-right: 0.4em;
}
#actionMatchTimeout::-webkit-inner-spin-button {
  display: none;
}

#editActionName {
  border: none;
  text-align: left;
  height: 2em;
  width: 100%;
}

#recordActiveTab {
  position: relative;
}
#recordActiveTab svg.emblem {
  display: none;
  height: 13px;
  width: 13px;
  position: absolute;
  bottom: 1px;
  right: 1px;
}
#recordActiveTab svg.emblem circle {
  fill: black;
}
#recordActiveTab svg.emblem.delete {
  display: inline;
}

#gotoFirstZip svg {
  transform: rotate(90deg);
}

#gotoLastZip svg {
  transform: rotate(-90deg);
}

.rectangle {
  position: absolute;
  border: 1px dashed black;
}
.rectangle[type=ActualCorrection] {
  background: rgba(255, 255, 255, 0.9);
}
.rectangle[type=UnpredictableCorrection] {
  background: rgba(255, 165, 0, 0.9);
}
.rectangle[type=AntiAliasCorrection] {
  background: rgba(0, 255, 0, 0.9);
}

html {
  height: 100%;
}

[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

#topbar {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  background: rgb(33, 33, 33);
}
#topbar button:hover {
  background: rgb(75, 75, 75);
}

#menus {
  order: 1;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#menus > svg {
  height: 17px;
  width: 17px;
  margin-left: 1em;
}
#menus .option {
  padding: 0.5em 0.6em;
  position: relative;
  max-width: 100px;
  cursor: pointer;
}
#menus .option:hover {
  background: rgb(75, 75, 75);
}
#menus .option svg {
  width: 14px;
  height: 14px;
  fill: white;
}
#menus .options {
  position: absolute;
  left: 0px;
  top: 100%;
  background: rgb(50, 50, 50);
  z-index: 2;
  box-shadow: 1px 2px 4px black;
  padding: 0.3em 0;
  width: 250px;
  border-radius: 0 0 4px 4px;
  display: none;
  flex-direction: column;
}
#menus .options.open {
  display: flex;
}
#menus .options .option {
  max-width: unset;
  padding: 0.5em 2em 0.5em 1em;
}
#menus .options .option:hover {
  background: var(--hover-color);
}
#menus .options .option svg {
  margin-right: 0.3em;
}
#menus .options hr {
  width: 90%;
  border-bottom: 0;
}

#navigation {
  display: flex;
  justify-content: center;
  order: 2;
  width: 40%;
}
#navigation #recordButton,
#navigation #playButton {
  position: relative; /** let the recording overlay in this **/
}
#navigation #recordButton.active {
  background: red;
}
#navigation #playButton.active {
  background: green;
}

#right {
  justify-content: right;
  order: 3;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#right .toggle {
  display: flex;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 3px;
  padding: 0 5px;
}
#right .toggle .label {
  line-height: 16px;
}

:root {
  --screenshot-timeout: 15s;
  --action-color: red;
  --hover-color: #1571b3;
}

body {
  height: 100%;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.error-text {
  color: red;
  font-weight: bold;
}

body {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.row, .card .footer, .card .title .text, .card .title {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.col, .verticalToolBar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  background: unset;
  color: unset;
  border-radius: 3px;
  border: 0;
  height: 31px;
}
button[disabled], button[disabled] i {
  opacity: 0.3;
}
button[disabled]:hover, button[disabled] i:hover {
  background: unset;
  cursor: unset;
}
button:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
button svg {
  height: 20px;
  width: 20px;
  fill: white;
  vertical-align: bottom;
}
button img {
  height: 26px;
  width: 26px;
}

#workspace {
  display: flex;
  flex-direction: row;
  height: calc(100% - 102px);
  width: 100%;
}

.verticalToolBar {
  align-items: center;
  padding: 0px;
  justify-content: space-between;
  margin-top: 12px;
}

/*********************/
/* common to cards   */
/*********************/
.card {
  width: calc(50% - 12px);
  min-width: calc(50% - 12px);
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 0.6em;
  border: 1px solid;
  background: linear-gradient(to right, rgba(116, 116, 191, 0.3), rgba(52, 138, 199, 0.3));
}
.card .screenshot {
  position: relative; /* for the action overlay to float positioned to this when absolute positioned */
  padding: none;
  /** the element highlight overlay is placed in one of these,
  this allow me to clip big ones that overflow the window, like
  an element receiving scroll, which might be huge, but is clipped
  in the browser, so should be clipped in this view as well.
  */
}
.card .screenshot img {
  width: 100%;
  height: auto;
}
.card .screenshot img.shadowDOM {
  opacity: 0.1;
}
.card .screenshot .overlay-clipper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
}
.card .screenshot .overlay {
  position: absolute;
  background: var(--action-color);
}
.card .screenshot .overlay.pointer {
  background: unset;
  width: 12px;
  height: 18px;
}
.card .screenshot .overlay.pointer svg {
  color: var(--action-color);
  height: 18px;
}
.card.empty {
  background: grey;
}
.card .stepNumber {
  margin-left: auto;
}
.card .title {
  color: white;
  display: flex;
}
.card .title .actions {
  margin-left: auto;
}
.card .title .text {
  align-items: center;
  height: 20px;
  padding: 1em;
  flex-grow: 1;
}
.card .title .text:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.card .title .text:hover button {
  background: rgba(0, 0, 0, 0.3);
}
.card .title .text svg {
  height: 16px;
  width: 16px;
  margin-right: 0.3em;
}
.card .title .text b {
  font-size: 14px;
  margin-right: 0.3em;
}
.card .meter {
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
  visibility: hidden; /* not seen but takes up layout space */
}
.card .meter span {
  display: block;
  height: 100%;
}
.card .footer {
  padding: 0 5px;
}
.card .footer button {
  margin: 0;
}

@-webkit-keyframes progressBar {
  0% {
    width: 0;
    background-color: green;
  }
  80% {
    background-color: green;
  }
  99% {
    background-color: orange;
  }
  100% {
    width: 100%;
    background-color: red;
  }
}

@keyframes progressBar {
  0% {
    width: 0;
    background-color: green;
  }
  80% {
    background-color: green;
  }
  99% {
    background-color: orange;
  }
  100% {
    width: 100%;
    background-color: red;
  }
}
#content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/***********************/
/* First card in step */
/***********************/
.card.action {
  /** only the first card should see the action */
}
.card.action .action {
  position: absolute;
  text-align: center;
  font-size: 18px;
  background: var(--action-color);
  margin: 3px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  max-width: 200px;
  max-height: 200px;
  overflow: auto;
  z-index: 1;
}
.card.action .action .modifier {
  background: lightgray;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
  font-size: 14px;
  padding: 0px 3px;
  font-family: "Courier New", Courier, monospace;
}
.card.action .screenshot:hover .pulse {
  -webkit-animation: opacity2 3s infinite;
          animation: opacity2 3s infinite;
}
.card.action .screenshot:hover .pulse-light {
  -webkit-animation: opacity3 3s infinite;
          animation: opacity3 3s infinite;
}
.card.action .screenshot .overlay.action:hover {
  -webkit-animation: unset;
          animation: unset;
}
.card.action .screenshot .overlay.pointer:hover {
  -webkit-animation: unset;
          animation: unset;
}

/***********************/
/* second card in step */
/***********************/
.card.waiting {
  /** show the failed progress bar as red for failed states */
  /** the text that says "has unpredicable pixels" */
}
.card.waiting.edit {
  /** hide that one */
}
.card.waiting.edit .screenshot.hasRedPixels {
  cursor: crosshair;
}
.card.waiting.edit .screenshot.hasRedPixels.relative-position {
  position: relative;
}
.card.waiting.edit.fail .meter {
  visibility: hidden;
}
.card.waiting.edit svg#cycle {
  transform: rotate(-135deg);
}
.card.waiting.actual svg#cycle {
  transform: rotate(135deg);
}
.card.waiting .screenshot .overlay {
  display: none;
}
.card.waiting .screenshot .overlay.countdown {
  display: block;
  font-size: 20vw;
  text-align: center;
  background: red;
}
.card.waiting.play .meter, .card.waiting.fail .meter {
  visibility: visible;
}
.card.waiting.expected.fail .progress, .card.waiting.actual.fail .progress {
  background-color: red;
  -webkit-animation: unset;
          animation: unset;
  -webkit-animation-fill-mode: unset;
          animation-fill-mode: unset;
}
.card.waiting #unpredictable-pixels {
  color: orange;
}
.card.waiting #error-pixels {
  color: red;
}
.card.waiting .progress {
  background-color: #e4c465;
  -webkit-animation: progressBar var(--screenshot-timeout) ease-in-out;
          animation: progressBar var(--screenshot-timeout) ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.card.waiting .actions {
  display: flex;
  flex-direction: row;
}
.card.waiting .actions .hide {
  display: none;
}
.card.waiting .actions button {
  border: 1px solid transparent;
}
.card.waiting .actions button[autoplay=true]:not([disabled]) {
  border: 1px solid green;
}
.card.waiting .actions #correctionButtons {
  display: flex;
}

/** only show the meter on the next card when playing back */
#step {
  height: 100%;
  width: calc(100% - 32px);
}

@-webkit-keyframes opacity2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity3 {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}
@keyframes opacity3 {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}
.pulse {
  -webkit-animation: unset;
          animation: unset;
}

.pulse-light {
  -webkit-animation: unset;
          animation: unset;
  opacity: 0.25;
}

#footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.error-dialog {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid;
  background: black;
  position: absolute;
  left: calc(50% - 150px);
  top: 0;
}
.error-dialog .header {
  border-bottom: 1px solid;
}
.error-dialog .header .content {
  font-size: 14px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.error-dialog .header .content svg {
  width: 32px;
  margin-right: 0.5em;
}
.error-dialog .body {
  padding: 10px;
}
.error-dialog .body details {
  height: 100px;
}
.error-dialog .body details .stack {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  max-width: 370px;
  max-height: 85px;
  overflow: auto;
  border: 1px solid gray;
  padding: 0;
  margin: 0;
}
.error-dialog .footer {
  padding: 10px;
  align-self: flex-end;
  margin-top: auto;
}
.error-dialog .footer button .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.error-dialog .footer button .content svg {
  width: 14px;
  margin-right: 0.5em;
}

progress {
  -webkit-appearance: none;
  width: 25%;
  margin-left: 0.6em;
}
progress::-webkit-progress-bar {
  border-radius: 1em;
  padding: 1px;
  background-color: white;
  width: 100%;
}
progress::-webkit-progress-value {
  background-color: green;
  border-radius: 1em;
}

#actionReport {
  font-family: Arial, Helvetica, sans-serif;
  pointer-events: none;
}
#actionReport .actions,
#actionReport button,
#actionReport .footer {
  display: none;
}
#actionReport .card.action .screenshot {
  pointer-events: all;
}
#actionReport #title {
  padding: 1em;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(to right, rgba(116, 116, 191, 0.3), rgba(52, 138, 199, 0.3));
}
#actionReport .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#actionReport .cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
#actionReport .card {
  margin: none;
}/*# sourceMappingURL=workspace.css.map */