body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;

}

  .themed {
      background: rgba(0,0,0,0.75);
      color: white;
  }

#toolbar {
    padding: .33em;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
}

#toolbar button {
    background: unset;
    color: unset;
    border-radius: 3px;
    border:0;
    margin:4px;
    font-size: larger;
    height: 31px;
}
#toolbar button[disabled], #toolbar button[disabled] i {
    opacity: .3;
    /* cursor: not-allowed; */
}
#toolbar button[disabled]:hover {
    background: unset;
    cursor: unset;
}

#toolbar button:hover {
    background: rgba(0,0,0,0.3);
    cursor: pointer;
}

svg {
    height:20px;
    width:20px;
    fill: white;
}

#content {
    /* flex-grow: 12; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-between; */
}

#cards {
    display:flex;
    flex: row;
    overflow: auto;
}

.card {
    padding: 1em;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: 1em;
    /* margin-bottom: 1em; */
    border-radius: .6em;
    /* box-shadow: 10px 5px 5px grey; */
    background: linear-gradient(to right, #7474bf, #348ac7);
}

.card.empty {
    height: 200px;
    background: grey;
}

#cards .card {
    width:100px;
    padding: 5px;
}

.card .screenshot {
    position: relative; /* for the action overlay to float positioned to this when absolute positioned */
    border: 1px solid white;
    padding: none;
}

.card.edit .screenshot {
    position: unset;
}

.card .screenshot:hover {
    cursor: pointer;
}

.card .title {
    color: white;
    padding: 1em 0em;
}

.card .screenshot img {
    width: 100%;
}

.card .screenshot .overlay {
    position: absolute;
}

.card:nth-of-type(2) .screenshot .overlay {
    display:none
}

.card:nth-of-type(2) .screenshot .action {
    display:none
}

.card .user-events {
    color: white;
    border-top: 1px solid black;
    padding: 1em 1em 1em 0;
}

/** card defaults */
.card .meter {
    visibility: hidden;
}


.card.waiting .meter {
    visibility: visible;
}


.card.expected, .card.actual {
    background: red;
}

.card.edit {
    background: orange;
}

.card.allowed {
    background: orange;
}

/** only show the meter on the next card when playing back */
.step {
    display: flex;
    flex-direction: row;
}

#recordButton, #playButton {
    position: relative; /** let the recording overlay in this **/
}
#recordButton.active {
    background: red;
}
#playButton.active {
    background: green;
}

@keyframes opacity2 {
    0% { opacity: 0;}
    50% {opacity: .5;}
    100% {opacity: 0};
}
.pulse-rectangle {
    background: red;
    position: absolute;
    animation: opacity2 2s infinite;
}

.meter { 
    height: 5px;
    position: relative;
    background: #f3efe6;
    overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: #e4c465;
    animation: progressBar 15s ease-in-out;
    animation-fill-mode:both; 
}

@keyframes progressBar { 
  0% {
    width: 0;
    background-color: green;
  }
  75% {
    background-color: orange;
  }
  100% { 
    width: 100%;
    background-color: red;
  }
}

#infobar {
    background:#348ac7;
    color:white;
    height: 35px;
}

.action {
    position: absolute;
    text-align: center;
    font-size:18px;
    background: grey;
    margin: 3px;
}