html {
    height: 100%;
}

[disabled] {
    pointer-events: none;
    opacity: 0.3;
}

#menu {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    & > svg {
        height: 17px;
        width: 17px;
        margin-left: 1em;
    }
    background: rgb(33, 33, 33);

    .option {
        padding: 0.5em 0.6em;
        position: relative;
        max-width: 100px;
        cursor: pointer;
        &:hover {
            background: rgb(75, 75, 75);
        }
        svg {
            width: 14px;
            height: 14px;
            fill: white;
        }
    }

    .options {
        position: absolute;
        left: 0px;
        top: 100%;
        background: rgb(50, 50, 50);
        z-index: 2;
        box-shadow: 1px 2px 4px black;
        //border-right: 1px solid black;
        // border-bottom: 1px solid black;
        padding: 0.3em 0;
        width: 250px;
        border-radius: 0 0 4px 4px;
        display: flex;
        flex-direction: column;

        .option {
            max-width: unset;
            &:hover {
                background: var(--hover-color);
            }
            padding: 0.5em 2em 0.5em 1em;
            svg {
                margin-right: 0.3em;
            }
        }
        hr {
            width: 90%;
            border-bottom: 0;
        }
    }
}

#navigation {
    align-self: center;
    position: absolute;
    left: calc(50% - 105px);
    #recordButton,
    #playButton {
        position: relative; /** let the recording overlay in this **/
    }
    #recordButton.active {
        background: red;
    }
    #playButton.active {
        background: green;
    }

    button:hover {
        background: rgb(75, 75, 75);
    }
}

:root {
    --screenshot-timeout: 15s;
    --action-color: red;
    --hover-color: #1571b3;
}

body {
    height: 100%;
    margin: 0;
    user-select: none;
    position: relative;
}

.error-text {
    color: red;
    font-weight: bold;
}

body {
    background: rgba(0, 0, 0, 0.75);
    //background: rgb(64, 64,64);
    color: white;
}

.row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background: unset;
    color: unset;
    border-radius: 3px;
    border: 0;
    //margin: 4px;
    font-size: larger;
    height: 31px;

    &[disabled],
    &[disabled] i {
        opacity: 0.3;
        &:hover {
            background: unset;
            cursor: unset;
        }
    }

    &:hover {
        background: rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    svg {
        height: 20px;
        width: 20px;
        fill: white;
    }
}

#workspace {
    display: flex;
    flex-direction: row;
}

.verticalToolBar {
    @extend .col;
    align-items: center;
    padding: 0px;
    width: 40px;
    justify-content: space-between;
    margin-top: 12px;
}

/* these are the thumbnails */
#cards {
    display: flex;
    flex: row;
    overflow: auto;
    height: 110px;
    background: rgba(0, 0, 0, 0.2);

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .card {
        width: 100px;
        padding: 5px;
        min-width: 100px;
    }
}

/*********************/
/* common to cards   */
/*********************/
.card {
    padding: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    border-radius: 0.6em;
    border: 1px solid;
    background: linear-gradient(to right, rgba(116, 116, 191, 0.3), rgba(52, 138, 199, 0.3));

    .screenshot {
        position: relative; /* for the action overlay to float positioned to this when absolute positioned */
        padding: none;
        img {
            width: 100%;
            &.shadowDOM {
                opacity: 0.1;
            }
        }

        .overlay {
            position: absolute;
            background: var(--action-color);

            &.pointer {
                background: unset;
                width: 12px;
                height: 18px;
                svg {
                    color: var(--action-color);
                    height: 18px;
                }
            }
        }
    }

    &.empty {
        height: 200px;
        background: grey;
    }

    .stepNumber {
        margin-left: auto; // right align him
    }

    .title {
        @extend .row;

        color: white;
        display: flex;

        .actions {
            margin-left: auto;
        }
 
        .text {
            @extend .row;

            align-items: center;

            height: 20px;
            padding: 1em;
            &:hover {
                background: rgba(0, 0, 0, 0.3);
                cursor: pointer;
            }

            flex-grow: 1;
            svg {
                height: 16px;
                width: 16px;
                margin-right: 0.3em;

                // path {
                //     fill: red;
                // }
                // margin-right: 0.3em;
            }
        }
    }

    .meter {
        height: 5px;
        position: relative;
        background: #f3efe6;
        overflow: hidden;

        span {
            display: block;
            height: 100%;
        }
        visibility: hidden; /* not seen but takes up layout space */
    }

    .footer {
        @extend .row;
        button {
            margin: 0;
        }
    }
}

@keyframes progressBar {
    0% {
        width: 0;
        background-color: green;
    }
    80% {
        background-color: green;
    }
    99% {
        background-color: orange;
    }
    100% {
        width: 100%;
        background-color: red;
    }
}

#content {
    display: flex;
    flex-direction: row;

    /***********************/
    /* First card in step */
    /***********************/
    .card.action {
        /** only the first card should see the action */
        .action {
            position: absolute;
            text-align: center;
            font-size: 18px;
            background: var(--action-color);
            margin: 3px;
            border: 1px solid black;
            border-radius: 6px;
            padding: 5px;
            .modifier {
                background: lightgray;
                border-radius: 5px;
                color: black;
                border: 1px solid black;
                font-size: 14px;
                padding: 0px 3px;
                font-family: "Courier New", Courier, monospace;
            }
            max-width: 200px;
            max-height: 200px;
            overflow: auto;
            z-index: 1;
        }

        .screenshot {
            &:hover {
                .pulse {
                    animation: opacity2 3s infinite;
                }
                .pulse-light {
                    animation: opacity3 3s infinite;
                }
            }

            .overlay.action:hover {
                animation: unset;
            }

            .overlay.pointer:hover {
                animation: unset;
            }
        }
    }

    /***********************/
    /* second card in step */
    /***********************/
    .card.waiting {
        //in the edit state
        &.edit {
            .screenshot {
                cursor: crosshair;
                position: unset;
            }

            /** hide that one */
            &.fail .meter {
                visibility: hidden;
            }

            svg#cycle {
                transform: rotate(-135deg);
            }
        }

        &.actual {
            svg#cycle {
                transform: rotate(135deg);
            }
        }

        .screenshot {
            .overlay {
                display: none;

                &.countdown {
                    display: block;
                    font-size: 20vw;
                    text-align: center;
                }
            }
        }

        &.play .meter,
        &.fail .meter {
            visibility: visible;
        }

        /** show the failed progress bar as red for failed states */
        &.expected.fail .progress,
        &.actual.fail .progress {
            background-color: red;
            animation: unset;
            animation-fill-mode: unset;
        }

        /** the text that says "allowed differences..*/
        #allowed-differences {
            color: orange;
        }

        .progress {
            background-color: #e4c465;
            animation: progressBar var(--screenshot-timeout) ease-in-out;
            animation-fill-mode: both;
        }
    }
}

/** only show the meter on the next card when playing back */
#step {
    height: calc(100% - 172px);
    width: calc(100% - 40px);
}

@keyframes opacity2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacity3 {
    0% {
        opacity: 0.25;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.25;
    }
}

.pulse {
    animation: unset;
}

.pulse-light {
    animation: unset;
    opacity: 0.25;
}

#footer {
    position: fixed;
    bottom: 0%;
    width: 100%;

    #infobar {
        background: var(--hover-color);
        color: white;
        height: 12px;
        padding: 5px;
        line-height: 1em;
    }
}

.error-dialog {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid;
    background: black;
    position: absolute;
    left: calc(50% - 150px);
    top: 0;

    .header {
        border-bottom: 1px solid;
        .content {
            font-size: 14px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            svg {
                width: 32px;
                margin-right: 0.5em;
            }
        }
    }
    .body {
        padding: 10px;
        details {
            height: 100px;

            .stack {
                user-select: text;

                max-width: 370px;
                max-height: 85px;
                overflow: auto;
                border: 1px solid gray;
                padding: 0;
                margin: 0;
            }
        }
    }
    .footer {
        padding: 10px;
        align-self: flex-end;
        margin-top: auto;
        button {
            .content {
                display: flex;
                flex-direction: row;
                align-items: center;
                svg {
                    width: 14px;
                    margin-right: 0.5em;
                }
            }
        }
    }
}
