body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    display: flex;
    flex-direction: row;
}

#content {
    /* flex-grow: 12; */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

#cards {
    display:flex;
    flex: row;
    overflow: auto;
}

.card {
    padding: 1em;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    margin-bottom: 1em;
    border-radius: .6em;
    box-shadow: 10px 5px 5px grey;
    background: linear-gradient(to right, #7474bf, #348ac7);
}

#cards .card {
    width:100px;
    padding: 5px;
}

.card .screenshot {
    position: relative; /* for the action overlay to float positioned to this when absolute positioned */
    border: 1px solid white;
    padding: none;
}

.card.pixel-differences .screenshot {
    position: unset;
}

.card .screenshot:hover {
    cursor: pointer;
}

.card .title {
    color: white;
    padding: 1em 1em 1em 0;
}

.card .screenshot img {
    width: 100%;
}

.card .screenshot .overlay {
    position: absolute;
    background: red;
    opacity: .3;
    display: none; /* initially hidden */
}

.card .user-events {

    color: white;
    border-top: 1px solid black;
    padding: 1em 1em 1em 0;
}

.card.running {
    background: blue;
}
.card.recorded {
    background: blue;
}
.card.notrun {
    background: gray;
}
.card.failed {
    background: red;
}
.card.passed {
    background: green;
}
.card.corrected {
    background: orange;
}



.step {
    display: flex;
}
